$accent-color: #e5e5e5;
$secondary-color: #fabaa0;
$bgc: #f7f5f2;
$info-color: #708d92;
$dark-color: #343434;
$dark: #2b2b2b;
$light: #ffffff;
$help-color: #de470d;
$btn-color: #fabaa0;
$h-color: #fbdcc5;

$main-font: "Roboto", sans-serif;
